<footer>
    <div>
        <div class="square">
            <a href="https://github.com/predator01">
                <div><img  src="static/images/miguel.jpg"></div> 
            </a>
        </div> 
        <div class="square">
            <a href="https://github.com/jleeothon">
                <div><img  src="static/images/johnny.jpg"></div> 
            </a>
        </div> 
        <div class="square">
            <a href="https://github.com/grevych">
                <div><img  src="static/images/gerardo.jpg"></div>
            </a>
        </div> 
    </div> 
</footer>
